h4{
  text-decoration-line: underline;
  margin-top: 0px;
}

select{
  width: 15em;
}
input[type="text"]{
  width: 14.6875em;
}

.main_content{
  border: solid 1px black;
  width: 30em;
  padding: 2em;
}

.main_content a, .main_content input[type="submit"]{
  border: solid 2px black;
  background-color: rgb(200, 200, 230);
  margin: 0px 0px 0px 25em;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 0px black;
}
