body{
  font-family: sans-serif;
}
h1{
  text-align: center;
}
form{
  text-align: center;
}
.invalid, .success{
  text-align: center;
  color: black;
  margin: 0.25em;
  border: solid 1px black;
  padding: 0.25em;
  font-weight: bold;
  width: 60%;
  margin-left: 20%;
}
.invalid{
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 200, 200);
}
.success{
  border-color: rgb(0, 255, 0);
  background-color: rgb(200, 255, 200)
}
.data{
  display: inline-block;
}
.buttons{
  display: inline-block;
  position: absolute;
  right: 0.75em;
  vertical-align: middle;
  top: 15%;
}
.buttons input{
  display: block;
  margin: 0.125em;
  margin-bottom: 0.75em;
}

.friendbox{
  border: solid 2px rgb(150, 150, 150);
  background-color: rgb(220, 220, 220);
  width: 70%;
  margin: 0.5em;
  margin-left: 15%;
  position: relative;
}
.friendbox p{
  margin: 0.375em;
}
