.main_container{
  width: 960px;
  padding: 10px;
}
.image_container{
  width: 200px;
  height: 200px;
  margin: 15px;
  display: inline-block;
  padding: 0px;
}
img{
  width: 200px;
  height: 200px;
  margin: 0px;
}
