<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animals</title>
  </head>
  <body>
    <a href="animals/new">Create new animal</a>
    <table>
      <tr>
        <th>Animals</th>
      </tr>
      <% for (var i = 0; i < animals.length; i++) {%>
        <tr>
          <td><a href="animals/edit/<%= animals[i].id %>"><%= animals[i].name %></a></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
