<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
  </head>
  <body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100.</p>
    <p>Take a guess!</p>
    <form class="" action="/reset" method="get">
      <!--Template which switches out values in a div based on -->
      <div class="resultbox {{displayClasses}}">
        <h2>{{text}}</h2>
        <input class="{{resetClasses}}" type="submit" value="Play again!">
      </div>
    </form>
    <form class="{{guessClasses}}" action="/guess" method="post">
      <input type="text" name="guessNumber" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
