<div ng-controller="UserListsController as lC">
<table>
  <tr>
    <th>First Name <a href="#!/users" ng-click="tableSort='firstName'; reverseTable=true;">↑</a><a href="#!/users" ng-click="tableSort='firstName'; reverseTable=false;">↓</a><</th>
    <th>Last Name <a href="#!/users" ng-click="tableSort='lastName'; reverseTable=true;">↑</a><a href="#!/users" ng-click="tableSort='lastName'; reverseTable=false;">↓</a></th>
    <th>Fave Language <a href="#!/users" ng-click="tableSort='faveLanguage'; reverseTable=true;">↑</a><a href="#!/users" ng-click="tableSort='faveLanguage'; reverseTable=false;">↓</a></th>
  </tr>
  <tr ng-repeat="user in getUsers() | orderBy:tableSort:reverseTable">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.faveLanguage}}</td>
  </tr>
</table>
</div>
