.forms form{
  display: inline-block;
  width: 20%;
  text-align: center;
  border: solid 2px black;
  padding: 1.25em 0em;
  margin: 0em 2%;
}
.forms form input{
  margin: auto;
}
.forms form p{
  margin: 0.5em auto 2em auto;
}
form label{
  margin: auto;
  font-style: bold;
  font-size: 1.5em;
}
.red{
  color: red;
}
.green{
  color: green;
}
.activities{
  border: solid 2px black;
  width: 90%;
  margin: 0px auto 0.5em auto;
  padding: 1em;
}
