body{
  font-family: sans-serif;
}

form{
  display: block;
  border: solid 1px black;
  margin: 0.125em;
  width: 500px;
}

ul{
  display: inline-block;
  width: 35%;
  list-style-type: none;
}
li{
  margin: none;
}
li input, li label{
  height: 1.5em;
  display: inline-block;
}
input[type="submit"]{
  display: block;
  margin: 0 0 0.5em 8%;
}
