<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static  'login/css/style.css' %}">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
    <form class="" action="{% url 'Login:Create' %}" method="post">
      {% csrf_token %}
      <h2>Register</h2>
      <ul>
        <li><label for="first_name">First Name:</label></li>
        <li><label for="last_name">Last Name:</label></li>
        <li><label for="email">Email Address:</label></li>
        <li><label for="password">Password:</label></li>
        <li><label for="passconf">Password Confirmation:</label></li>
      </ul>
      <ul>
        <li><input type="text" name="first_name"></li>
        <li><input type="text" name="last_name"></li>
        <li><input type="text" name="email"></li>
        <li><input type="password" name="password"></li>
        <li><input type="password" name="passconf"></li>
      </ul>
      <input type="submit" value="Submit">
    </form>
    <form class="" action="{% url 'Login:Login' %}" method="post">
      {% csrf_token %}
      <h2>Log In</h2>
      <ul>
        <li><label for="email">Email Address:</label><li>
        <li><label for="password">Password:</label><li>
      </ul>
      <ul>
        <li><input type="text" name="email"><li>
        <li><input type="text" name="password"><li>
      </ul>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
