<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript">
      var mainApp = angular.module("mainApp", []);

      mainApp.factory("productFactory", function(){
        var factory = {};
        factory.nextID = 0;
        factory.products = [];
        factory.add = function(product){
          product.price = parseFloat(product.price);
          product.quantity = 50;
          product.id = factory.nextID;
          factory.nextID++;
          factory.products.push(product);
        };
        factory.remove = function(id){
          for(let i = 0; i < factory.products.length; i++){
            if(factory.products[i].id === id){
              factory.products.splice(i, 1);
              break;
            }
          }
        };
        factory.order = function(id){
          var product = factory.getOne(id);
          if(product.quantity > 0)
            product.quantity--;
          console.log(factory.products);
        };
        factory.getOne = function(id){
          for(let i = 0; i < factory.products.length; i++){
            if(factory.products[i].id === id)
              return factory.products[i];
          }
        };
        factory.getAll = function(){
          return factory.products;
        };
        return factory;
      });

      mainApp.controller("productController", ["$scope", "productFactory", function($scope, productFactory){
        $scope.newProduct = { };
        $scope.reverseTable = true;
        $scope.addProduct = function(){
          if($scope.newProduct.name && $scope.newProduct.price){
            productFactory.add($scope.newProduct);
            $scope.newProduct = { };
          }
        };
        $scope.removeProduct = function(id){
          productFactory.remove(id);
        };
        $scope.getProducts = function(){
          return productFactory.getAll();
        };
      }]);

      mainApp.controller("orderController", ["$scope", "productFactory", function($scope, productFactory){
        $scope.reverseTable = true;
        $scope.orderProduct = function(id){
          productFactory.order(id);
        };
        $scope.getProducts = function(){
          return productFactory.getAll();
        };
      }]);
    </script>
  </head>
  <body>
    <div ng-controller="productController as pC">
      <form ng-submit="addProduct();">
        <label for="name">Product Name:</label>
        <input type="text" name="name" ng-model="newProduct.name">
        <label for="price">Product Price:</label>
        <input type="number" name="price" step="0.01" ng-model="newProduct.price">
        <input type="submit" value="Create">
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Price <a href="#" ng-click="reverseTable=true;">↑</a><a href="#" ng-click="reverseTable=false;">↓</a></th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="product in getProducts() | orderBy:'price':reverseTable track by $index">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td><form><input type="submit" value="Delete" ng-click="removeProduct(product.id);"></form></td>
        </tr>
      </table>
    </div>
    <div ng-controller="orderController as oC">
      <table>
        <tr>
          <th>Name</th>
          <th>Price <a href="#" ng-click="reverseTable=true;">↑</a><a href="#" ng-click="reverseTable=false;">↓</a></th>
          <th>Qty Available</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="product in getProducts() | orderBy:'price':reverseTable track by $index">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td>{{product.quantity}}</td>
          <td><form><input type="submit" value="Buy" ng-click="orderProduct(product.id);"></form></td>
        </tr>
      </table>
    </div>
  </body>
</html>
