<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<form class="" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="name" value="">
  <input type="submit" name="" value="Submit">
</form>
