<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="">
      <label for="age">Age:</label>
      <input type="text" name="age" value="">
    </form>
    <% for (var i = 0; i < users.length; i++) %>
      <p>Name: <%= users[i].name %>, Age: <%= users[i].age %></p>
    <% endfor %>
  </body>
</html>
