<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Quote</title>
  </head>
  <body>
    <form action="/quotes" method="post">
      <label for="owner">Name:</label>
      <input type="text" name="owner" value="">
      <label for="text">Quote:</label>
      <input type="text" name="text" value="">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
