<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date and Time</title>
  </head>
  <body>
    <div id="header">
      <h3>The current date and time:</h3>
    </div>
    <div id="display">
      <h1><%= @time[:date] %></h1>
      <h1><%= @time[:time] %></h1>
    </div>
  </body>
</html>
